<!-- homepage/home.html -->
<h1>Welcome to the Sales Management System</h1>
<p>This is the homepage of your application.</p>
<a href="{% url 'sale_list' %}">Go to Sales</a><br>
<a href="{% url 'order_list' %}">Go to orders</a><br>
<a href="{% url 'owner_list' %}">Go to owners</a><br>
<a href="{% url 'store_list' %}">Go to stores</a><br>
<a href="{% url 'employee_list' %}">Go to employees</a><br>
<a href="{% url 'lp_list' %}">loyal ka ba</a><br>
<a href="{% url 'customer_list' %}">Go to customers</a>


