{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4>User Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Account Information</h5>
                            <hr>
                            <p><strong>Username:</strong> {{ user.username }}</p>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p><strong>Last Login:</strong> {{ user.last_login|date:"F d, Y H:i" }}</p>
                        </div>
                    </div>

                    {% if employee %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h5>Employee Information</h5>
                            <hr>
                            <p><strong>Full Name:</strong> {{ employee.user.get_full_name }}</p>
                            <p><strong>Role:</strong> {{ employee.get_role_display }}</p>
                            <p><strong>Phone:</strong> {{ employee.phone }}</p>
                            <p><strong>Address:</strong> {{ employee.address }}</p>
                            <p><strong>Hire Date:</strong> {{ employee.hire_date|date:"F d, Y" }}</p>
                            {% if employee.date_of_birth %}
                            <p><strong>Date of Birth:</strong> {{ employee.date_of_birth|date:"F d, Y" }}</p>
                            {% endif %}
                            {% if employee.emergency_contact %}
                            <p><strong>Emergency Contact:</strong> {{ employee.emergency_contact }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
