<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-4">
    <h2 class="mb-3">Sales</h2>
    <a href="{% url 'sale_create' %}" class="btn btn-primary mb-3">Add New Sale</a>
    <ul class="list-group">
        {% for sale in sales %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    {{ sale.SaleDate }} - ${{ sale.TotalAmount }}
                </div>
                <div>
                    <a href="{% url 'sale_update' sale.pk %}" class="btn btn-sm btn-warning mr-2">Edit</a>
                    <a href="{% url 'sale_delete' sale.pk %}" class="btn btn-sm btn-danger mr-2">Delete</a>
                    <a href="{% url 'sale_detail_list' sale.pk %}" class="btn btn-sm btn-info">Details</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a class="btn btn-primary mb-3" href="{% url 'home' %}">Go to Homepage</a>
</div>
</body>
</html>
